h1, h3, h2{
    color: black;
    text-align: center;
}

.p1{
    background: #D6D8D9;
    color: #1B1E21;
}

.p2{
    background: #D4EDDA;
    color: #3A474C;
}

.p3{
    background: #E2E3E5;
    color: #3A474C;
}

.p4{
    background: #FFF3CD;
    color: #856404;
}

.p5{
    background: #F8D7DA;
    color: #721C25;
}


form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}