<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<h1>Мой главный заголовок</h1>
<h2>Заголовок верхнего уровня</h2>
<h3>Мой подзаголовок</h3>
<h4>Мой под-подзаголовок</h4>
<h5>бере бере бере</h5>
<h6>бара бара бара</h6>

<p>Абзац</p>

<p>В лесу есть разные звери:</p>
<ul>
    <li>волки</li>
    <li>лисы</li>
    <li>лоси</li>
</ul>
<ol>
    <li>волки</li>
    <li>лисы</li>
    <li>лоси</li>
</ol>

<a href="https://www.google.ru/?hl=ru">ссылка на гугл</a>
</body>

</html>