<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type='text/css' href="../static/css/style.css">
</head>
<body>
<h1>Загрузите фотографии</h1>
<h2>для участия в миссии</h2>


<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="photo">Приложите фотографию</label>
        <input type="file" class="form-control-file" id="photo" name="file">
        <img src='../static/img/img_2.png' alt="">
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>


</body>
</html>